<!DOCTYPE html>
<html>
    <head>
        <title> Kiisi's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="https://wa.me/c/22940543629">Plus saine, plus douce</a></h1>
        </header>

        <article>
            
            <h2><a href="https://wa.me/c/22940543629">Les couches menstruelles lavables!</a></h2>
            <p>Les culottes menstruelles réutilisables #Kiisi se suffisent à elle-mêmes et sont faciles à laver, plus besoin de serviettes ni de tampons jetables.
                Elles absorbent minimum 08h la journée avec une durée d'utilisation de plus de 02 ans.
                Taille: S, M, L
                Nombre: 03 Culottes par Paquet
                Prix: 20 000Fr
                Pour commander cliquez ici s'il vous plaît</p>
        </article>

        <article>
            <h2><a href="">Les menstrues douloureuses!</a></h2>
            <p>Les règles hyper douloureuses sont fréquentes chez de nombreuses femmes mais pas normales😶.
                Souvent, elles sont juste un signe des déséquilibres cités dans notre dernier Post:
                1. Consommation excessive d'aliments inflammatoires
                2. Accumulation de toxines dans le foie
                3. Mauvaise digestion et élimination
                4. Contact permanent avec les substances chimiques
                Quels sont les aliments qui irritent l'organisme et entraînent l'inflammation excessive?
                Dites moi en commentaire si vous souffrez aussi de règles douloureuses et vos différentes astuces pour réduire la douleur 😊</p>
        </article>
                

    </body>
</html>